---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Ewwii Articles!</h1>
			<p>
				Welcome to the official <a href="https://github.com/Ewwii-sh">Ewwii</a> articles page. 
				This is is a minimal page serving recent ewwii articles and tutorials.
			</p>
			<p>
				The articles here are hosted seperately on 
				<a href="https://github.com/Ewwii-sh/articles">Ewwii-sh/articles</a> 
				GitHub repository and is <strong>not part</strong> of the main website.
				Perhaps, you already figured that out from the theme :|
			</p>
			<p>
				Anyway, if you are struggling to get back to the main website,
				here is a quick link that will guide you:
				
				<a href="/">Click Me!</a>
			</p>
		</main>
		<Footer />
	</body>
</html>
